form {
    width: 850px;
    margin: auto 20rem auto 25rem;
}

legend {
    color: rgb(255, 129, 115);
    font: 1rem verdana;
    font-weight: bold;
}

p {
    color: rgba(183, 62, 49, 1);
    font: 1rem verdana;
    font-weight: bolder;
}

fieldset {
    border: 2px solid rgb(255, 129, 115);
    margin: 20px;
}

fieldset #sexo {
    width: 250px;
    font: 1.3rem verdana;
}

input.btn {
    background-color:  rgb(255, 129, 115);
    color: white;
    padding: 7px;
    margin: 5px;
    font: 1.3rem verdana;
    border: none;
}

input.btn:hover {
    background-color: rgb(255, 129, 115);
    color:  rgb(255, 129, 115);
}

fieldset#usuario {
    background: url("imagens/icon-contato.png") no-repeat 95% 95%;

}

fieldset#endereco {
    background: url("imagens/icon-endereco.png") no-repeat 95% 95%;

}

fieldset#mensagem {
    background: url("imagens/icon-mensagem.png") no-repeat 95% 95%;

}